# Regular packages
numpy
scipy
ipython
pandas

# simple ml
scikit-learn
eli5
catboost
xgboost
pandas-profiling
fbprophet

# plotting
matplotlib
seaborn

# jupyter notebooks
jupyter
jupyterlab

# pytorch
torch
torchvision

# work with images
pillow
opencv-python
scikit-image
albumentations

# tools
tqdm


# dl tools
pytorch_toolbelt
segmentation-models-pytorch
pretrainedmodels

# tests
pytest